<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BJMP</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/css/sairaextracondensed1.css" rel="stylesheet">
    <link href="../static/css/opensans1.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/resume.min1.css" rel="stylesheet">
    <link href="../static/css/resume1.css" rel="stylesheet">


    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>

</head>

  <body>

    <div class="container">
        <img class="logo" src="../static/img/mob.png">
        <button type="button" class="btn8" onclick="parent.location='index.html'"><span class="fa fa-sign-out"></span> LOG OUT</button>
        <button type="button" class="btn1" onclick="parent.location='visitor_data.html'"><strong>VIEW VISITOR DATA</strong></button>
        <button type="button" class="btn7" onclick="parent.location='/admin/visit_logs'"><strong>VISITATION LOGS</strong></button>
        <button type="button" class="btn3" onclick="parent.location='create_announcements.html'"><strong>CREATE ANNOUNCEMENTS</strong></button>
        <button type="button" class="btn4" onclick="parent.location='manage_announcements.html'"><strong>MANAGE ANNOUNCEMENTS</strong></button>       
        <button type="button" class="btn5" onclick="parent.location='add_prisoner.html'"><strong>ADD PRISONER</strong></button>
        <button type="button" class="btn6" onclick="parent.location='prisoner_data.html'"><strong>MANAGE PRISONER DATA</strong></button>
        <button type="button" class="btn2" onclick="parent.location='add_clerk.html'"><strong>ADD CLERK</strong></button>
        
    </div>

        <!-- Bootstrap core JavaScript -->
        <script src="../static/vendor/jquery/jquery.min.js"></script>
        <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript -->
        <script src="../static/js/jqBootstrapValidation.js"></script>
        <script src="../static/js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="../static/js/agency.min.js"></script>
    </body>
</html>
