<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <link href="../static/jquery.dataTables.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/jquery.dataTables.min.js"></script>

    <script>
    var global;
    $(document).ready(function () {
        $('#maintable').DataTable({
            "paging": true,
            "searching": true,
            "ordering" : true,
            "info" : true,
            "autoWidth" : true,
            "data" : [],
            "columns" : [{
                "title": "Prisoner I.D.",
                "data" : "id"
            }, {
                "title": "First Name",
                "data" : "firstname"
            }, {
                "title": "Middle Name",
                "data" : "middlename"
            }, {
                "title": "Last Name",
                "data" : "lastname"
            }, {
                "title": "Birthday",
                "data" : "birthday"
            }, {
                "title": "Age",
                "data" : "age"
            }]
        });

        var tables = $('#maintable').DataTable();
        var tokens = localStorage.getItem('token');

        $.ajax({
            url: 'http://127.0.0.1:5000/api/admin/prisoner_data',
            type: "GET",
            dataType: "json",
            crossDomain: true,
            headers: { 'x-access-token': tokens },
            success: function(resp) {
                if (resp.status  === 'ok') {
                    for ( var i = 0; i < resp.entries.length; i++) {
                        tables.row.add( {
                            "id" : resp.entries[i].id,
                            "firstname" : resp.entries[i].firstname,
                            "middlename" : resp.entries[i].middlename,
                            "lastname" : resp.entries[i].lastname,
                            "birthday" : resp.entries[i].birthday,
                            "age" : resp.entries[i].age
                        }   ).draw();
                    }
                }
            }
        });
    });
</script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="widget stacked widget-table action-table">
            <div class="widget-content">
                <h1>Admin | Prisoner Data</h1>
                <table id="maintable">

                </table>
            </div>
        </div>
    </div>
</div>
<br><br><br>

</body>

</html>