<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BJMP | Prisoner Data</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/css/sairaextracondensed.css" rel="stylesheet">
    <link href="../static/css/opensans.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="../static/jquery.dataTables.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>


    <!-- Custom styles for this template -->
    <link href="../static/css/resume.min6.css" rel="stylesheet">
    <style type="text/css">
        #table {
            height: 700px;
            width: 100%;
            color: black;
            background-color: #fff;
            border-radius: 1%;
            padding: 20px;

        }

        .dataTables_wrapper {
            font-family: 'Saira Extra Condensed', serif;
            font-weight: 700;
            text-transform: uppercase;
            color: #343a40;
            height: 500px;
        }

        td {
            font-family: 'Saira Extra Condensed', serif;
            font-weight: 700;
            text-transform: uppercase;
            color: #343a40;

        }

        .table .thead-dark th {
            font-family: 'Saira Extra Condensed', serif;
            font-weight: bolder;
            text-transform: uppercase;
            color: black;
        }

        .container {
            height: auto;
        }

        .modal-color {
            background-color: #343a40;
        }

        .btn-add {
            margin-bottom: 5px;
            position: relative;
            left: 820px;
        }

        #target {
            font-size: 19px;
        }


    </style>

</head>
<body>
<section id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">BJMP</span>
            <span class="d-none d-lg-block">
                <img class="img-responsive center-block" src="../static/img/mob.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/clerk/view-announcements" style="color: #fcec5f; background-color: black; font-family: 'Saira Extra Condensed', serif;
        font-size: 25px;">ANNOUNCEMENTS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/clerk/record-visitation" style="color: black; font-family: 'Saira Extra Condensed', serif;
        font-size: 25px;">RECORD A
                        VISITATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/clerk/view_prisoners" style="color: black ; font-family: 'Saira Extra Condensed', serif;
        font-size: 25px;">VIEW PRISONER
                        DATA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/clerk/view_visitors" style="color: black ; font-family: 'Saira Extra Condensed', serif;
        font-size: 25px;">VISITOR DATA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/clerk/manage_requests" style="color: black ; font-family: 'Saira Extra Condensed', serif;
        font-size: 25px;">MANAGE VISIT
                        REQUESTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" id="logout" href="/logout" style="color: black; font-family: 'Saira Extra Condensed', serif;
        font-size: 25px;">Log Out</a>
                </li>


            </ul>
        </div>
    </nav>


    <div class="container-fluid p-0">


        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="visitor">

            <div class="container">

                <div class="container row">
                    <div class=" col-lg-12 text-center" style="position: relative">
                        <h2 class="section-heading text-uppercase" style="color: #fcec5f">
                            Announcements
                        </h2>

                        <div id="table">
                            <table id="maintable" class="table table-hover" style="font-size: 20px;">

                            </table>
                        </div>
                    </div>
        </section>

    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 100px;">
        <div class="modal-content">
            <div class="modal-header modal-color" style=" background-color:white;">
                <h3 id="titleVar" style="display: inline;"></h3>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-color" style=" background-color:white;">

                <div class="row">
                    <div class="col">

                        <h5 id="announce"></h5>
                        <p hidden id="ids"></p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


</div>


<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/resume.min6.js"></script>
<link href="../static/jquery.dataTables.min.css" rel="stylesheet">
<script type="text/javascript" src="../static/jquery.dataTables.min.js"></script>

<script>

    var myTable;

    var dataset2 = [];
    $(document).ready(function () {
        if (localStorage.getItem('role_id') != 1) {
            alert('You are not a Clerk');
            window.location.href = 'https://pva-web.herokuapp.com';
        }
        else {
            var tokens = localStorage.getItem('token');
            $.ajax({
                url: 'https://pva-api.herokuapp.com/api/admin/announcements_get',
                type: "GET",
                dataType: "json",
                crossDomain: true,
                headers: {'x-access-token': tokens},
                success: function (resp) {
                    if (resp.status === 'ok') {
                        for (var i = 0; i < resp.entries.length; i++) {
                            var dataset1 = [];
                            dataset1.push(resp.entries[i].id);
                            dataset1.push(resp.entries[i].title);
                            dataset1.push(resp.entries[i].date);
                            dataset1.push("<button href='#' data-toggle='modal' data-target='#exampleModal' id='target' class='btn btn-success'>Details<i ></i></button>");
                            dataset1.push(resp.entries[i].announcement);
                            dataset2.push(dataset1);

                        }

                        myTable = $('#maintable').DataTable({
                            data: dataset2,
                            "dom": '<"pull-left"f><"pull-right"l>tip',
                            aaSorting: [2, 'desc'],
                            "bLengthChange": false,
                            "columnDefs": [
                                {
                                    "targets": [0],
                                    "visible": false
                                }
                            ],
                            columns: [
                                {title: "ID"},
                                {title: "Title"},
                                {title: "Date"},
                                {title: "Actions"}

                            ]
                        });
                    }
                }
            });
        }
    });

    $('body').on('click', '#target', function () {
        var row = $(this).parents('tr')[0];
        data = myTable.row(row).data();
        console.log(data);
        document.getElementById('ids').innerHTML = data[0];
        document.getElementById('titleVar').innerHTML = data[1];
        document.getElementById('announce').innerHTML = data[4];

    });

    $('#logout').click(function () {
        console.log('token revoked! please log in again!');
        localStorage.clear();
    });
</script>

<!--<script>-->
<!--function edited() {-->
<!--console.log("test");-->
<!--var tokens = localStorage.getItem('token');-->
<!--var id = document.getElementById('ids').innerHTML;-->

<!--var title = $("#titleVar").val();-->
<!--console.log(title);-->
<!--var announcement = $("#announce").val();-->


<!--$.ajax({-->
<!--url: "https://pva-api.herokuapp.com/api/admin/edit_announcement",-->
<!--contentType: 'application/json; charset=utf-8',-->
<!--data: JSON.stringify({-->
<!--'id': id,-->
<!--'title': title,-->
<!--'announcement': announcement-->


<!--}),-->
<!--method: "POST",-->
<!--dataType: "json",-->
<!--crossDomain: true,-->
<!--headers: {-->
<!--'x-access-token': tokens-->
<!--},-->
<!--success: function () {-->
<!--console.log("success");-->
<!--alert("edited succesfully!");-->
<!--window.location.href = '/admin/view-announcements'-->
<!--},-->
<!--error: function () {-->
<!--console.log('error')-->
<!--},-->
<!--complete: function (jqXHR) {-->
<!--if (jqXHR.status == '401') {-->
<!--console.log(jqXHR.status)-->
<!--}-->
<!--}-->
<!--})-->
<!--}-->
<!--</script>-->


</body>
</html>
