

{% block body %}
  <head>
  	<title>Schedule of Visit</title>

      <link rel="stylesheet" href="../static/bootstrap.min.css">
      <script src="../static/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

{% include 'layout.html' %}
<!--SCHEDULE OF VISIT-->
  <div class="container-fluid" style="margin-left:40%">
	<div class="row">

		<div class="col-md-12">

			<div class="page-header" style="width:30%">
				<h2>
					Schedule of Visitation
				</h2>
			</div>


			<form role="form" style="width:30%">


  			  <label>
  			  	<i class="glyphicon glyphicon-user"></i> Inmate Firstname
  			  </label>
    		      <p>
    		      	<input type="text" class="form-control" id="fname" placeholder="">
    		      </p>

    		  <label>
  			  	<i class="glyphicon glyphicon-user"></i> Inmate Middlename
  			  </label>
    		      <p>
    		      	<input type="text" class="form-control" id="fname" placeholder="">
    		      </p>


    		  <label>
  			  	<i class="glyphicon glyphicon-user"></i> Inmate Lastname
  			  </label>
    		      <p>
    		      	<input type="text" class="form-control" id="fname" placeholder="">
    		      </p>


    		   <label>
  			  	<i class="glyphicon glyphicon-heart"></i> Relation to Inmate
  			   </label>
    		      <p>
    		      	<input type="text" class="form-control" id="fname" placeholder="">
    		      </p>


    		     <label><i class="glyphicon glyphicon-calendar"></i> Date</label>
     			 <p><input type="date" class="form-control" id="bday" placeholder="Date"></p>




                <label>
  			  	  <i class="glyphicon glyphicon-time"></i> Time
  			    </label>
    		      <p>
    		      	<input type="time" name="usr_time" class="form-control" id="fname" placeholder="">
    		      </p>




				<button type="cancel" class="btn btn-primary btn-md">
					Cancel
				</button>


				<button type="submit" class="btn btn-primary btn-md">
					Submit
				</button>


			</form>
		</div>
	</div>
</div>




    <!--<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>-->

{% endblock %}