<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>Title</title>-->
    <!--<script src="../static/jquery-3.3.1.min.js"></script>-->

    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <link href="../static/jquery.dataTables.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/jquery.dataTables.min.js"></script>


    <!--<script>-->
    <!--$(document).ready(function() {-->
    <!---->
    <!--});-->

    <!--</script>-->
</head>
<body>
<div class="container">
    <div class="row">

        <!--<div class="span7">-->
        <div class="widget stacked widget-table action-table">
            <div class="widget-content">
                <h1>Verified Visitors</h1>
                <table id="maintable">


                </table>

            </div>

        </div>
        <!--</div>-->
    </div>
</div>

</body>
<script>
    $(document).ready(function () {

     myTable =  $('#maintable').DataTable({
        "paging": true,
        "searching": true,
        "ordering" : true,
        "info" : true,
        "autoWidth" : true,
        "data" : [],
        "columns" : [{
            "title": "Visitor ID",
            "data" : "id"
        }, {
            "title": "First Name",
            "data" : "firstname"
        }, {
            "title": "Middle Name",
            "data" : "middlename"
        }, {
            "title": "Last Name",
            "data" : "lastname"
        }, {
            "title": "Address",
            "data" : "address"
        }, {
            "title": "Contact",
            "data" : "contact"
        }, {
            "title": "Birthday",
            "data" : "birthday"
        }, {
            "title": "Age",
            "data" : "age"
        }, {
            "title": "Status",
            "data" : "status"
        },
        ]


    });

    var tables = $('#maintable').DataTable();
    var tokens = localStorage.getItem('token');


    $.ajax({
        url: 'http://127.0.0.1:5000/api/admin/visitor_data',
        type: "GET",
        dataType: "json",
        crossDomain: true,
        headers: { 'x-access-token': tokens },
        success: function(resp) {
            if (resp.status  === 'ok') {
                    for ( var i = 0; i < resp.entries.length; i++) {
                        tables.row.add( {
                            "id" : resp.entries[i].id.toString(),
                            "firstname" : resp.entries[i].firstname,
                            "middlename" : resp.entries[i].middlename,
                            "lastname" : resp.entries[i].lastname,
                            "address" : resp.entries[i].address,
                            "contact" : resp.entries[i].contact,
                            "birthday" : resp.entries[i].birthday,
                            "age" : resp.entries[i].age,
                            "status" : resp.entries[i].status.toString()
                        }   ).draw();
                    }
                }
            }
    });




    });

    </script>
</html>
