<!DOCTYPE html>
<html lang="en">
<head>
    <title>BJMP | View News and Updates</title>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/sairaextracondensed.css" rel="stylesheet">
    <link href="../static/css/opensans.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="../static/css/resume.min4.css" rel="stylesheet">
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>

    <script>
        current_page = 1;
        records_per_page = 3;

        function prevPage() {
            if (current_page > 1) {
                current_page--;
                changePage(current_page);
            }
        }

        function nextPage() {
            if (current_page < numPages()) {
                current_page++;
                changePage(current_page);
            }
        }

        function changePage(page) {
            var btn_next = document.getElementById("btn_next");
            var btn_prev = document.getElementById("btn_prev");
            var contain = document.getElementById("contain_news");
            var page_span = document.getElementById("page");

            // Validate page
            if (page < 1) page = 1;
            if (page > numPages()) page = numPages();

            contain.innerHTML = "";

            for (var j = (page - 1) * records_per_page; j < (page * records_per_page); j++) {
                var div = document.createElement("DIV");
                var h1 = document.createElement("h1");
                var h4 = document.createElement("h4");
                h1.setAttribute('id', 'mainhead');
                div.setAttribute("class", "newsdiv");
                var pic = document.createElement("img");
                pic.setAttribute('src', global[j].imgsrc);
                pic.setAttribute('width', '95%');
                pic.setAttribute('height', '95%');
                var tdiv = document.createElement("div");
                tdiv.setAttribute('id', 'titlediv');
                var ddiv = document.createElement("div");
                ddiv.setAttribute('id', 'datediv');
                var cdiv = document.createElement("div");
                cdiv.setAttribute('id', 'contentdiv');
                cdiv.innerHTML = global[j].content;
                h1.innerHTML = global[j].title;
                h4.innerHTML = "Date posted: " + global[j].dates;
                div.appendChild(tdiv);
                div.appendChild(ddiv);
                div.appendChild(pic);
                div.appendChild(cdiv);
                contain.appendChild(div);
                tdiv.appendChild(h1);
                ddiv.appendChild(h4);


            }
            page_span.innerHTML = page;

            if (page === 1) {
                btn_prev.style.visibility = "hidden";
            } else {
                btn_prev.style.visibility = "visible";
            }

            if (page === numPages()) {
                btn_next.style.visibility = "hidden";
            } else {
                btn_next.style.visibility = "visible";
            }
        }

        function numPages() {
            return Math.ceil(global.length / records_per_page);
        }

        window.onload = function () {
            changePage(1);
        };
    </script>
</head>

<body>
<div id="contain_news"></div>

<a href="#" onclick="prevPage()" id="btn_prev">Prev</a>
<a href="#" onclick="nextPage()" id="btn_next">Next</a>
page: <span id="page"></span>

<section>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/js/resume.min4.js"></script>
</section>
</body>

<script>
    var global = [];
    var current_page;
    var records_per_page;
    $(document).ready(function () {

        var tokens = localStorage.getItem('token');

        $.ajax({
            url: 'http://127.0.0.1:5000/api/view_newsupdate',
            type: "GET",
            dataType: "json",
            crossDomain: true,
            success: function (resp) {
                if (resp.status === 'ok') {
                    for (var i = 0; i < resp.entries.length; i++) {
                        var news = resp.entries[i];
                        global.push({title: news.title, content: news.newsupdate, dates: news.date, imgsrc: news.imgSrc});
                    }
                    console.log(global);
                }
            }
        });
    });
</script>
</html>