<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>Title</title>-->
    <!--<script src="../static/jquery-3.3.1.min.js"></script>-->

    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <link href="../static/jquery.dataTables.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/jquery.dataTables.min.js"></script>


    <!--<script>-->
    <!--$(document).ready(function() {-->
    <!---->
    <!--});-->

    <!--</script>-->
</head>
<body>
<div class="container">
    <div class="row">

        <!--<div class="span7">-->
        <div class="widget stacked widget-table action-table">
            <div class="widget-content">
                <h1>Pending</h1>
                <table id="maintable">


                </table>

            </div>

        </div>
        <!--</div>-->
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">

        <!--<div class="span7">-->
        <div class="widget stacked widget-table action-table">
            <div class="widget-content">
                <h1>Verified</h1>
                <table id="verifiedtable">


                </table>

            </div>

        </div>
        <!--</div>-->
    </div>
</div>
</body>
<script>
    var global1;
    var global2;
    var myTable;
    $(document).ready(function () {

     myTable =  $('#maintable').DataTable({
        "paging": true,
        "searching": true,
        "ordering" : true,
        "info" : true,
        "autoWidth" : true,
        "data" : [],
        "columns" : [{
            "title": "Visitor ID",
            "data" : "id"
        }, {
            "title": "First Name",
            "data" : "firstname"
        }, {
            "title": "Middle Name",
            "data" : "middlename"
        }, {
            "title": "Last Name",
            "data" : "lastname"
        }, {
            "title": "Address",
            "data" : "address"
        }, {
            "title": "Contact",
            "data" : "contact"
        }, {
            "title": "Birthday",
            "data" : "birthday"
        }, {
            "title": "Age",
            "data" : "age"
        }, {
            "title": "Status",
            "data" : "status"
        }, {
            "title": "Actions",
            "data" : null,
            "render" : function( data, type, row ) {
                return '<button id="approve">Approve</button>' + '<button id="decline">Decline</button>';
            }
        }]


    });

    var tables = $('#maintable').DataTable();
    var tokens = localStorage.getItem('token');


    $.ajax({
        url: 'http://127.0.0.1:5000/api/admin/visitor_data',
        type: "GET",
        dataType: "json",
        crossDomain: true,
        headers: { 'x-access-token': tokens },
        success: function(resp) {
            if (resp.status  === 'ok') {
                    for ( var i = 0; i < resp.entries.length; i++) {
                        tables.row.add( {
                            "id" : resp.entries[i].id.toString(),
                            "firstname" : resp.entries[i].firstname,
                            "middlename" : resp.entries[i].middlename,
                            "lastname" : resp.entries[i].lastname,
                            "address" : resp.entries[i].address,
                            "contact" : resp.entries[i].contact,
                            "birthday" : resp.entries[i].birthday,
                            "age" : resp.entries[i].age,
                            "status" : resp.entries[i].status.toString()
                        }   ).draw();
                    }
                }
            }
    });



    $('body').on('click', '#approve', function() {
        var row  = $(this).parents('tr')[0];

        data =  myTable.row(row).data();
        global1 = data.id;
        console.log(global1);
        approve(global1);

    });

    $("body").on('click', '#decline', function () {
        var row  = $(this).parents('tr')[0];

        data =  myTable.row(row).data();
        global2 = data.id;
        console.log(global2);
        decline(global2);

    });




    });
     function approve (g) {
        alert("You have approved the registration of user "+g);
        var tokens = localStorage.getItem('token');
                var public_id = localStorage.getItem('public_id');
                var user_id;
                var response = $("#response").val();
                $.ajax({
                    url: "http://127.0.0.1:5000/api/clerk/account_accept",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'public_id':public_id,
                        'user_id':g,
                        'response':'yes'
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    headers: {
                        'x-access-token': tokens
                    },
                    success: function (resp) {
                        alert(resp.message);
                        window.location.href='/clerk/view_visitors'
                    },
                    error: function () {
                        alert('server error! click ok to reload!');
                        window.location.href='/clerk/landing'

                    }
                })
    }

    function decline(g) {
        alert("You have rejected the registration of user "+g);
        var tokens = localStorage.getItem('token');
                var public_id = localStorage.getItem('public_id');
                var user_id;
                var response = $("#response").val();
                $.ajax({
                    url: "http://127.0.0.1:5000/api/clerk/account_accept",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'public_id':public_id,
                        'user_id':g,
                        'response':'no'
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    headers: {
                        'x-access-token': tokens
                    },
                    success: function (resp) {
                        alert(resp.message);
                        window.location.href='/clerk/view_visitors'
                    },
                    error: function () {
                        alert('server error! click ok to reload!');
                        window.location.href='/clerk/landing'

                    }
                })
    }
    </script>

<script>
    var myTable;
    $(document).ready(function () {

     myTable =  $('#verifiedtable').DataTable({
        "paging": true,
        "searching": true,
        "ordering" : true,
        "info" : true,
        "autoWidth" : true,
        "data" : [],
        "columns" : [{
            "title": "Visitor ID",
            "data" : "id2"
        }, {
            "title": "First Name",
            "data" : "firstname2"
        }, {
            "title": "Middle Name",
            "data" : "middlename2"
        }, {
            "title": "Last Name",
            "data" : "lastname2"
        }, {
            "title": "Address",
            "data" : "address2"
        }, {
            "title": "Contact",
            "data" : "contact2"
        }, {
            "title": "Birthday",
            "data" : "birthday2"
        }, {
            "title": "Age",
            "data" : "age2"
        }, {
            "title": "Status",
            "data" : "status2"
        }]


    });

    var tables = $('#verifiedtable').DataTable();
    var tokens = localStorage.getItem('token');


    $.ajax({
        url: 'http://127.0.0.1:5000/api/clerk/visitor_data',
        type: "GET",
        dataType: "json",
        crossDomain: true,
        headers: { 'x-access-token': tokens },
        success: function(resp) {
            if (resp.status  === 'ok') {
                    for ( var i = 0; i < resp.entries2.length; i++) {
                        tables.row.add( {
                            "id2" : resp.entries2[i].id.toString(),
                            "firstname2" : resp.entries2[i].firstname,
                            "middlename2" : resp.entries2[i].middlename,
                            "lastname2" : resp.entries2[i].lastname,
                            "address2" : resp.entries2[i].address,
                            "contact2" : resp.entries2[i].contact,
                            "birthday2" : resp.entries2[i].birthday,
                            "age2" : resp.entries2[i].age,
                            "status2" : resp.entries2[i].status.toString()
                        }   ).draw();
                    }
                }
            }
    });




    });
</script>

</html>
