<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>BJMP | Visitor Data</title>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/css/sairaextracondensed.css" rel="stylesheet">
    <link href="../static/css/opensans.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
    <link href="../static/jquery.dataTables.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/jquery.dataTables.min.js"></script>


</head>
<link href="../static/css/resume.min.css" rel="stylesheet">
<style type="text/css">
    #table {
        color: black;
        background-color: #FCEC5F;
        border-radius: 1%;
        padding: 20px;
        font-size: 20px;
    }

    #table1 {
        color: black;
        background-color: #FCEC5F;
        border-radius: 1%;
        padding: 20px;
        font-size: 20px;
    }

    .dataTables_wrapper {
        font-family: 'Saira Extra Condensed', serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #343a40;
        font-size: 20px;
    }

    th {
        font-family: 'Saira Extra Condensed', serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #343a40;
        font-size: 20px;
        width: 100px;
    }

    .table .thead-dark th {
        font-family: 'Saira Extra Condensed', serif;
        font-weight: bolder;
        text-transform: uppercase;
        color: black;
    }

    .table1 .thead-dark th {
        font-family: 'Saira Extra Condensed', serif;
        font-weight: bolder;
        text-transform: uppercase;
        color: black;
    }

    .table1 .thead-dark th {
        font-family: 'Saira Extra Condensed', serif;
        font-weight: bolder;
        text-transform: uppercase;
        color: black;
    }

    .container {
        height: auto;
    }

    .container1 {
        height: auto;
    }

    #target {
        font-size: 19px;
    }

</style>
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 7px;

    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

</style>
<body>
<section id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">BJMP</span>
            <span class="d-none d-lg-block">
                <img class="img-responsive center-block" src="../static/img/mob.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="overflow: auto; ">
            <ul class="navbar-nav" id="memes">
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin/view-announcements" style="color:black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">MANAGE ANNOUNCEMENTS</a>
                </li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/admin/view_visitors" style="color: #fcec5f; background-color: black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px; ">Visitor Data</a></li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin/add_clerk" style="color: black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">Add Clerk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin/add_prisoner" style="color: black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">Add Prisoner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin/newsupdate" style="color: black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">Add News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin/manage-announcements" style="color: black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">Create Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin/manage-prisoner" style="color: black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">Manage Prisoner Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin/visit_logs" style="color: black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">Visitation Logs</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link js-scroll-trigger" href="/admin/view-walkin" style="color: black;  font-family: 'Saira Extra Condensed', serif;
        font-size: 21px; ">Walk-in Visitations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin/view-comments" style="color: black; font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">Suggestion Box</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" id="logout" href="/logout" style="color: black; font-family: 'Saira Extra Condensed', serif;
        font-size: 21px;">Log Out</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="visitor1">
            <div style="width: 100%">


                <br>

                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" style="color: #fcec5f">
                        Visitor Accounts
                    </h2>
                </div>
                <div id="table1" style="background-color: white; border-radius: 10px;">
                    <table id="maintable" class="table table-hover">

                    </table>
                </div>
            </div>
        </section>
    </div>
</section>
</body>
<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/resumee.min.js"></script>
<link href="../static/jquery.dataTables.min.css" rel="stylesheet">
<script type="text/javascript" src="../static/jquery.dataTables.min.js"></script>


<script>
    var global1;
    var global2;
    var myTable;

    var dataset2 = [];
    $(document).ready(function () {

        if (localStorage.getItem('role_id') != 0) {
            alert('You are not an Admin');
            window.location.href = 'https://pva-web.herokuapp.com';
        }
        else {
            var tokens = localStorage.getItem('token');

            $.ajax({
                url: 'https://pva-api.herokuapp.com/api/admin/visitor_data',
                type: "GET",
                dataType: "json",
                crossDomain: true,
                headers: {'x-access-token': tokens},
                success: function (resp) {
                    if (resp.status === 'ok') {
                        for (var i = 0; i < resp.entries.length; i++) {
                            var dataset1 = [];
                            dataset1.push(resp.entries[i].firstname + ' ' + resp.entries[i].middlename + ' ' + resp.entries[i].lastname);
                            dataset1.push(resp.entries[i].address);
                            dataset1.push(resp.entries[i].contact);
                            dataset1.push(resp.entries[i].birthday);
                            dataset1.push(resp.entries[i].age);
                            dataset1.push(resp.entries[i].prisoner);
                            dataset1.push(resp.entries[i].status.toString());
                            if (resp.entries[i].status === 'PENDING') {
                                dataset1.push("<button class='btn btn-success' style='padding: 2px 5px' id='approve'><span class='fa fa-check' style='text-align: center'></span></button>&nbsp;<button id='decline' class='btn btn-danger btn-xs' style='padding: 2px 5px'><span class='fa fa-remove'></span></button>");
                            }
                            else {
                                dataset1.push("N/A");
                            }
                            dataset1.push(resp.entries[i].id);
                            dataset2.push(dataset1);
                        }
                        <!--console.log(dataset2);-->
                        myTable = $('#maintable').DataTable({
                            data: dataset2,
                            columns: [
                                {title: "Name",className: "dt-head-center dt-body-center"},
                                {title: "Address",className: "dt-head-center dt-body-center"},
                                {title: "Contact",className: "dt-head-center dt-body-center"},
                                {title: "Birthday",className: "dt-head-center dt-body-center"},
                                {title: "Age",className: "dt-head-center dt-body-center"},
                                {title: "Related to",className: "dt-head-center dt-body-center"},
                                {title: "Status",className: "dt-head-center dt-body-center"},
                                {title: "Actions",className: "dt-head-center dt-body-center"}
                            ]
                        });
                        $('.dataTables_filter input').attr("placeholder", "");
                    }
                }

            });


            $('body').on('click', '#approve', function () {

                var row = $(this).parents('tr')[0];
                data = myTable.row(row).data();
                global1 = data[8];
                console.log(global1);
                approve(global1);

            });

            $("body").on('click', '#decline', function () {
                var row = $(this).parents('tr')[0];

                data = myTable.row(row).data();
                global2 = data[8];
                console.log(global2);
                decline(global2);

            });

        }
    });
    function approve(g) {
        
        var tokens = localStorage.getItem('token');
        var public_id = localStorage.getItem('public_id');
        var user_id;
        var response = $("#response").val();
        $.ajax({
            url: "https://pva-api.herokuapp.com/api/clerk/account_accept",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'public_id': public_id,
                'user_id': g,
                'response': 'yes'
            }),
            method: "POST",
            dataType: "json",
            crossDomain: true,
            headers: {
                'x-access-token': tokens
            },
            success: function (resp) {
                alert(resp.message);
                window.location.reload();
            },
            error: function () {
                alert('Server error! Click ok to reload!');
                window.location.reload();

            }
        })
    }

    function decline(g) {
        
        var tokens = localStorage.getItem('token');
        var public_id = localStorage.getItem('public_id');
        var user_id;
        var response = $("#response").val();
        $.ajax({
            url: "https://pva-api.herokuapp.com/api/clerk/account_accept",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'public_id': public_id,
                'user_id': g,
                'response': 'no'
            }),
            method: "POST",
            dataType: "json",
            crossDomain: true,
            headers: {
                'x-access-token': tokens
            },
            success: function (resp) {
                alert("User Declined!");
                window.location.reload();
            },
            error: function () {
                alert('Server error! Click ok to reload!');
                window.location.reload();

            }
        })
    }

    $('#logout').click(function () {
        console.log('token revoked! please log in again!');
        localStorage.clear();
    });

</script>


</html>
