<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">-->
    <script src="jquery-3.3.1.min.js"></script>
    <script src="functions.js"></script>
</head>
<body>
    <h1>Sample Landing Page</h1>
    <h2><a href="login.html">Click here to login</a></h2><br>
    <h2><a href="register.html">Click here to register</a></h2>
</body>
</html>