<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btn').click(function () {
                var username = $("#username").val();
                var password = $("#password").val();

                $.ajax({
                    url: "http://127.0.0.1:5000/api/login/",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'username': username,
                        'password': password
                    }),
                    method: "GET",
                    dataType: "json",
                    crossDomain: true,
                    headers: {
                        'Authorization' : 'Basic ' + btoa(username + ':' + password)
                    },
                    success: function(resp) {
                        if (resp.role_id == '2') {
                            alert('login success!');
                            console.log("success");
                            localStorage.setItem('token', resp.token);
                            localStorage.setItem('role_id', resp.role_id);
                            localStorage.setItem('public_id', resp.public_id);
                            localStorage.setItem('auth_id', 'Basic ' + btoa(username + ':' + password));
                            window.location.replace('landing_visitor.html');
                        }
                    },
                    error: function () {
                        console.log('error');
                        alert('Credentials invalid!')
                    },
                    complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                            console.log(jqXHR.status)
                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
<form class="form-signin">
    <h3 class="form-signin-heading">Sign in here</h3>
    <input class="form-control" type="text" required id="username" placeholder="Username">
    <input class="form-control" type="password" required id="password" placeholder="Password">

    <input type="button" name="Login" value="Login" id="btn" class="btn btn-info btn-block">

</form>

</body>
</html>