body {
  font-family: 'Open Sans', serif;
}


html {
  background: url("../img/jail4.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}

.logo {
  position: absolute;
    top: 150px;
    left: 500px;
}

.btn8{
  position: absolute;
    width: 8%;
    top: 5px;
    left: 1230px;
    background-color: transparent; 
    padding: 10px 10px;
    border: black;
    color: #fcec5f;
    border-radius: 8px;

}

.btn1{
  position: absolute;
    border-radius: 8px;
    padding: 10px 10px;
    width: 18%;
    top: 360px;
    left: 320px;
    background-color: #fcec5f; 
    border: black;
    color: black;

}
.btn2{
  position: absolute;
    top: 430px;
    left: 320px;
    width: 18%;
    background-color: #fcec5f; 
    padding: 10px 10px;
    border: black;
    color: black;
    border-radius: 8px
   

}
.btn3{
  position: absolute;
    top: 360px;
    left: 740px;
    width: 18%;
    background-color: #fcec5f; 
    padding: 10px 10px;
    border: black;
    color: black;
    border-radius: 8px


}
.btn4{
  position: absolute;
    top: 430px;
    left: 740px;
    width: 18%;
    background-color: #fcec5f; 
    padding: 10px 10px;
    border: black;
    color: black;
    border-radius: 8px
    

}
.btn5{
  position: absolute;
    top: 500px;
    left: 320px;
    width: 18%;
    background-color: #fcec5f; 
    padding: 10px 10px;
    border: black;
    color: black;
    border-radius: 8px
    
}
.btn6{
  position: absolute;
    top: 500px;
    left: 740px;
    width: 18%;
    background-color: #fcec5f; 
    padding: 10px 10px;
    border: black;
    color: black;
    border-radius: 8px
    

}

.btn7{
  position: absolute;
    top: 580px;
    left: 525px;
    width: 18%;
    background-color: #fcec5f; 
    padding: 10px 10px;
    border: black;
    color: black;
    border-radius: 8px
    

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}





.bg-primary {

  background-color: #BD5D38 !important;
}

.text-primary {
  color: #BD5D38 !important;
}

a {
  color: #BD5D38;
}

a:hover, a:focus, a:active {
  color: #824027;
}


