<!DOCTYPE html>
<html lang="en">

  <head>
  	<title>Clerk Add Unregistered Visitor</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="js" href="scripts.js">
   
  </head>


  <body>
 
<!--SCHEDULE OF VISIT-->
  <div class="container-fluid">
	<div class="row">

		<div class="col-md-12">

			<div class="page-header">
				<h2>
					Add a Unregistered Visitor 
				</h2>
			</div>	


			<form role="form">


  			  <label>
  			  	<i class="glyphicon glyphicon-user"></i> Firstname
  			  </label>
    		      <p>
    		      	<input type="text" class="form-control" id="fname" placeholder="">
    		      </p>

              <label>
            <i class="glyphicon glyphicon-user"></i> Middlename
          </label>
              <p>
                <input type="text" class="form-control" id="fname" placeholder="">
              </p>

              <label>
            <i class="glyphicon glyphicon-user"></i> Lastname 
          </label>
              <p>
                <input type="text" class="form-control" id="fname" placeholder="">
              </p>

          
         

    		  <label>
  			  	<i class="glyphicon glyphicon-place"></i> Address
  			  </label>
    		      <p>
    		      	<input type="text" class="form-control" id="fname" placeholder="">
    		      </p>   



    		     <label><i class="glyphicon glyphicon-calendar"></i>Birthdate</label>
     			 <p><input type="date" class="form-control" id="bday" placeholder="Date"></p>  

         

    		              
			

              

				<button type="cancel" class="btn btn-primary btn-md">
					Cancel
				</button>


				<button type="submit" class="btn btn-primary btn-md">
					Submit
				</button>


			</form>
		</div>
	</div>
</div>




    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>



  </body>
</html>